<sly
    data-sly-use.article="com.aembootcamp.core.models.ArticleModel"
    data-sly-test.empty="${!article.articleText}"
    data-sly-use.template="core/wcm/components/commons/v1/templates.html"
    data-sly-call="${template.placeholder @ isEmpty=empty}"
    />

<ul class="horizontal-list" >
    <li data-sly-repeat.tagName="${article.tags}">${tagName}</li>
</ul>

<div data-sly-resource="${@ path='.', resourceType='core/wcm/components/title/v2/title'}"></div>
<div data-sly-resource="${@ path ='.', resourceType='core/wcm/components/text/v2/text'}"></div>
<div data-sly-resource="${@ path ='.', resourceType='core/wcm/components/image/v2/image'}"></div>




